body {
    margin: 18px;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /* background-color: #050f36; Background color for the entire page */
    background: #000;  
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the container take up the full viewport height */
}

.card1 {
    margin-top: 2%;
    background :linear-gradient(45deg, rgba(128, 173, 54, 0.753), rgba(176, 173, 8, 0.493));/* Background color for the first card */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 22%;
    height: 50vh;
    width: 50vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card1:hover,.card2:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.card2 {
    background :linear-gradient(45deg, rgba(128, 173, 54, 0.753), rgba(176, 173, 8, 0.493)); /* Background color for the second card */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 20vh;
    width: 50vw;
    position: relative;
    left: 22%;
}

.Form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}

button {
    background-color: #ffffff; /* Button color */
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight:bold ;
}

button:hover {
    background-color: #45a049; /* Button color on hover */
    backdrop-filter: blur(10px);
}
img{
    height:100px;
    width: 400px;
}
/* Responsive styling */
@media (max-width: 600px) {
    .card1,
    .card2 {
        width: 80%;
    }
}